@inherits EditorBase

<div id="container">
    <div class="column left">
    <div class="dropdownContainer">
        <select @onchange="OnSampleSelected">
            @foreach (var sample in CodeSamples)
            {
                <option value=@sample>@sample</option>
            }
        </select>
    </div>
    <div class="buttonContainer">
        <button class="btn btn-primary" @onclick="Execute">Execute</button>
        <button class="btn btn-primary" @onclick="Stop">Stop</button>
    </div>

        <textarea id="txtProgramCode" @bind="@programCode" readonly="@isRunning" class="form-control" rows="13"></textarea>

    </div>
    <div class="column right">
        <div class="textContainer">
            <TextIO @ref="textIO"></TextIO>
        </div>
        <div class="graphicsContainer">
            <CanvasIO></CanvasIO>
        </div>
    </div>
</div>




