@page "/"
@using WhyNotLang.Interpreter
@inject IExecutor Executor

<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="Toggle">Toggle</button>

<button class="btn btn-primary" @onclick="Execute">Execute</button>
@code {
    bool toggle = false;

    void Toggle()
    {
        toggle = !toggle;
        Executor.ProgramState.AssignVariable("toggle", new ExpressionValue(IntToBool(toggle), ExpressionValueTypes.Number));
    }

    async Task Execute()
    {
        Executor.Initialise(@"
        while (1)
        begin
            Writeln(""Toggle value: "" + ToString(toggle))
            Delay(1)
        end
");


        Executor.ProgramState.DeclareVariable("toggle", new ExpressionValue(IntToBool(toggle), ExpressionValueTypes.Number), true);
        await Executor.ExecuteAll();
    }

    private int IntToBool(bool val)
    {
        return val ? 1 : 0;
    }
}